/* 0, 0, 1 */
body {
   font-family: 'Fascinate Inline', cursive;
}

/* 1, 0, 0 */
#container {
   margin: auto;
   width: 1024px;
}

@media (max-width: 1023px) {

   /* 1, 0, 0 */
   #container {
      max-width: 779px;
   }
}

@media (max-width: 780px) {

   /* 1, 0, 0 */
   #container {
      max-width: 479px;
   }
}

@media (max-width: 480px) {

   /* 1, 0, 0 */
   #container {
      max-width: 400px;
   }
}
