#container {
   margin: auto;
   border: 1px solid black;
   width: 1000px;
}

@media (max-width: 1020px) {
   #container {
      max-width: 800px;
   }
}

@media (max-width: 820px) {
   #container {
      max-width: 420px;
   }
}
